/*Body styling */
body {
    background-color: rgb(196, 217, 217);
    margin: 20px;
    text-align: center;
}

/*Heading styling */
h1 {
    color: rgb(13, 13, 13);
    font-family: 'Times New Roman';
    font-size: 20px;
}

h2{
    color:rgb(231, 131, 9);
    font-family: sans-serif;
    font-size: 15px;
}

/*Paragraph style */
p {
    color:rgb(253, 249, 249);
    font-family: Georgia;
    font-size: 16px;
    padding: 15px;
    border-radius: 50px;
    background-color: rgb(88, 86, 80);
    margin: 30px;
}

address {
    font-size: 20px;
    background-color: rgb(88, 86, 80);
    color: rgb(253, 249, 249);
    padding: 10px;
    margin: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}