body {
    background-image: url('blurr.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 20px;
}
h1 {
    color: rgb(13, 13, 13);
    font-family: 'Times New Roman';
    font-size: 30px;
    text-align: center;
    background-color: rgb(153, 170, 194);
    margin-left: 350px;
    margin-right: 350px;
    padding: 7px;
    border-radius: 50px;
}

h2{
    color:rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: rgb(153, 170, 194);
    padding: 5px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 50px;
}

p {
    font-family: Georgia;
    font-size: 16px;
    padding: 15px;
    border-radius: 50px;
    background-color: rgb(153, 170, 194);
    margin: 30px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.container {
    display: flex;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
    padding: 20px;
    gap: 10px;
    margin-left: 250px;
}

.column {
    padding: 25px;
    margin: 20px;
    margin-right: 50px;
    background-color: rgb(153, 170, 194);
    border-radius: 40px;
    width: 300px;
}

h3 {
    font-style: italic;
    margin-top: 5px;
    text-align: center;
}

.center-list{
    font-family: 'Times New Roman', Times, serif;
    width: fit-content;
    margin: 0 auto;  
}

address {
    font-size: 20px;
    background-color: rgb(153, 170, 194);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 50px;
}

h4 {
    text-align: center;
    font-style: italic;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(153, 170, 194);
    padding: 8px;
    border-radius: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

table,th,td {
    border: 2px solid rgb(219, 207, 207);
    border-collapse: collapse;
    background-color: rgb(153, 170, 194);
    padding: 10px;
    text-align: center;
    margin-inline-start: 350px;
}

img{
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}