/*Body styling */
body {
    background-color: rgb(162, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    margin: 20px; 
}

/*Heading styling */
h1 {
    /* color: rgb(225, 14, 14); */
    background-color: rgb(162, 228, 228);
    font-family: Georgia, serif;
    font-size: 25px;
}